.mat-tab-label .mat-tab-label-content {
  color: white;
}

/* @keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
} */
mat-card {
  /* animation: 2s ease-out 0s 1 slideInFromLeft; */
  border: 1px solid grey;
  /*margin-left: 5%;*/
  width: 100%;
  height: 100%;
}

mat-icon {
  /* font-size: medium;
    padding-right: 5px;
    padding-top: 5px; */
}

.fab-btn:hover {
  transform: scale(1.2);
}

.edit-effect {
  margin-top: 125px;
}

.tp-wrapper {
  -webkit-perspective: 800px;
  perspective: 800px;
}

.tp-box {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 3rem auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: transform 1s;
  -ms-transform: transform 1s;
  transform: transform 1s;
}

.delete-btn {

  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: transform 1s;
  -ms-transform: transform 1s;
  transform: transform 1s;
}

.delete-btn-side {
  width: 100%;
  height: 100%;
  position: absolute;

  transition: all 0.5s;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.delete-btn-front {
  transform: rotateY(0deg);
}

.delete-btn-back {
  transform: rotateX(180deg);
}

.tp-box__front {
  transform: rotateY(180deg);

}

.tp-box__back {
  transform: rotateY(0deg);

}

.tp-box__side {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  color: #fff;
  text-align: center;
  line-height: 25px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tp-box__front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.tp-box__back {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

/*.card-container{
        width: 18rem;
        perspective: 200rem;
        position: relative;
        height: 300px;
    }
    .card-container:hover .card-front{
        transform: rotateY(180deg);
        
    }
     .card-container:hover .card-back{
        transform: rotateY(0deg);
        visibility: visible;
    }
    .card-back{
        transform: rotateY(180deg);
        visibility: hidden;
    }
    .card{
        transition: all 0.9s;
        position: absolute;
        height: 100%;
        width: 100%;
         backface-visibility: hidden;
    }*/

    .icon1{
        font-size: 18px;
    line-height: 18px;
    height: 18px;
    width: 20px;
    }


  .view-Details{
   
    height:450px;
    width:55%;
   background-color: white;
  }
  .product-img{
    margin-top: 0px !important;
    height: 100%;
    margin-left: 15px;
  }
  .product-details{
     padding: 50px;
    padding-left:50px;
     background-color: #2D2E32;
    margin-left: 15px;
    color: white;
  }
  .product-description{
    height: 150px;
    border: 0.5px solid ;
    border-color: rgba(128, 128, 128, 0.4117647058823529);
    border-radius: 5%;
    font-size: smaller !important;
  }
  mat-label {
    text-transform: uppercase;
    font-size: smaller;
  }
  .mat-tab-label .mat-tab-label-content{
    color: white;
  }