::ng-deep .mat-tab-header{
    display: none !important;
}

mat-card{
    border:1px solid grey;
    width:25%;
    margin-left: 5%;
    height: 100%;
}
mat-card-subtitle{
    padding-top: 15px;
}
mat-icon{
        font-size: medium;
    padding-right: 5px;
    padding-top: 5px;
}
