<mat-toolbar fxLayoutAlign="center center">
    <span>Products</span>
</mat-toolbar>
<mat-tab-group [selectedIndex]="index">
    <mat-tab >
<!--<div *ngFor='let p of product'>
<div class="card-container mx-auto mt-5"  >
     <mat-card class="card card-front mb-3" appearance="outline">
                <mat-card-title>{{p.productName}}</mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-subtitle>ProductID:{{p.id}}</mat-card-subtitle>
                <mat-card-subtitle>Manufacturer:{{p.manufacturer}}</mat-card-subtitle>
                <mat-card-subtitle>Quantity:{{p.quantity}}</mat-card-subtitle>  
                <mat-card-subtitle>Price:{{p.price}}</mat-card-subtitle> 
                <mat-divider></mat-divider>               
                <mat-card-content>{{p.productDescription}}</mat-card-content>
                
             </mat-card>
            
   <mat-card-actions  class="card card-back mb-3">
       <div>
                        <button mat-raised-button (click)="openEdit(p.id)" fxFlex="50%" color="primary"><mat-icon  >edit</mat-icon>Edit</button>
                        <button mat-raised-button (click)="openDialog(p.id)" fxFlex="50%" color="warn"><mat-icon  >close</mat-icon>Delete</button>
       </div>        
                </mat-card-actions>
</div>
</div>-->
<div fxLayout="row wrap" fxFlex="100%" fxLayoutAlign="center center">
        <div *ngFor='let p of product' class="tp-box" fxLayout="row wrap" fxFlex="24%" fxLayoutAlign="center center" (click)="toggleFlip()" >
           
            <div class="tp-box__side tp-box__front" >
            <mat-card  appearance="outline">
                <mat-card-title>{{p.productName}}</mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-subtitle>ProductID:{{p.id}}</mat-card-subtitle>
                <mat-card-subtitle>Manufacturer:{{p.manufacturer}}</mat-card-subtitle>
                <mat-card-subtitle>Quantity:{{p.quantity}}</mat-card-subtitle>  
                <mat-card-subtitle>Price:{{p.price}}</mat-card-subtitle> 
                <mat-divider></mat-divider>               
                <mat-card-content>{{p.productDescription}}</mat-card-content>
                <div class="rotate-btn" data-card="card-1"><i class="fas fa-undo"></i>Hover to rotate back</div>
             </mat-card>
        </div>
        <div class="tp-box__side tp-box__back">
            <mat-card  appearance="outline">
           <mat-card-actions >
                        <button mat-raised-button (click)="openEdit(p.id)" fxFlex="50%" color="primary"><mat-icon  >edit</mat-icon>Edit</button>
                        <button mat-raised-button (click)="openDialog(p.id)" fxFlex="50%" color="warn"><mat-icon  >close</mat-icon>Delete</button>
                        
                </mat-card-actions>
                </mat-card >
            </div>
        </div>
            
        </div>
       
    </mat-tab>

    <mat-tab>

        <router-outlet></router-outlet>
    </mat-tab>
</mat-tab-group>
