<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true">
        <div fxLayout="column" fxLayoutAlign="center center" (click)="navigate(item.path)" class="nav-item" *ngFor="let item of navItems">
                <button type="button" mat-icon-button >
                  <mat-icon>{{item.icon}}</mat-icon>
                </button>
            <span>
                {{item.label}}
            </span>
        </div>

    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar fxLayout="row wrap">
            <button type="button" mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu_vert</mat-icon>
            </button>
            <span fxLayoutAlign="left" fxFlex="90%">FED Capstone Project</span>
            <span  fxLayoutAlign="right" fxFlex="5%" *ngIf="show"> 
                <button class="logout" type="button" mat-icon-button [matMenuTriggerFor]="menu" >
                    <mat-icon>person</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="navigate('/profile')"><mat-icon>person</mat-icon>Profile</button>
                <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
                </mat-menu>
            </span>
        </mat-toolbar>
        <div class="example-router-outlet">
        <router-outlet></router-outlet>
        </div>

    </div>

</mat-drawer-container>