.example-container {
  height: 100%;
}

.example-sidenav-content {
  height: 100%;
}

.example-sidenav {
  /* padding: 20px; */
  background: rgb(50, 53, 60);
}

.nav-item {
  padding: 24px;
  background: rgb(50, 53, 60);
  color: white;
  border-bottom: 1px solid #797979;
}

.nav-item span {
  font-size: 14px;
}
.logout {
  display: flex;
}