<div >
        <mat-toolbar fxLayoutAlign="center center" >
                <span >Edit Product</span>
            </mat-toolbar>
        <div  class="register" fxLayoutAlign="center center">    
        <form fxLayout="row wrap" fxLayoutGap="0.5%" class="register-form" fxLayoutAlign="left" [formGroup]="profileForm" (ngSubmit)="editProduct()">
            <mat-form-field fxFlex="49%" class="register-full-width" appearance="outline">
                <input disabled matInput placeholder="Product ID " formControlName="productID">
            </mat-form-field>
            <mat-form-field fxFlex="49%" class="register-full-width" appearance="outline">
                <input matInput placeholder="Product name " formControlName="productName" >
            </mat-form-field>
            <mat-form-field fxFlex="49%" class="register-full-width" appearance="outline">
                <input matInput placeholder="Product description " formControlName="description" >
            </mat-form-field>
            <mat-form-field fxFlex="49%" class="register-full-width" appearance="outline">
              <input matInput placeholder="Manufacturer" formControlName="manufacturer" >
            </mat-form-field>
            <mat-form-field fxFlex="49%" class="register-full-width" appearance="outline">
                    <input matInput placeholder="Price" formControlName="price"  >
            </mat-form-field>
            <mat-form-field fxFlex="49%" class="register-full-width" appearance="outline">
                <input matInput placeholder="Quantity"  formControlName="quantity" >
            </mat-form-field>
           
            <div fxLayoutAlign="center center">
                    <button mat-raised-button type="submit"  >Edit Product</button>
            </div>
          </form>
        </div>
       
        </div>