<div class="main" fxLayoutAlign="center center">
    <mat-card class="card1" fxLayout="column">
        <mat-toolbar>
            <span>Login</span>
        </mat-toolbar>
        <mat-form-field appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Placeholder">
            <!-- <mat-icon matPrefix>sentiment_very_satisfied</mat-icon> -->
            <mat-error>Hint</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Placeholder">
            <!-- <mat-icon matPrefix>sentiment_very_satisfied</mat-icon> -->
            <mat-error>Hint</mat-error>
        </mat-form-field>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card>
</div>