<div>
<mat-toolbar fxLayoutAlign="center center">
      
        <span >Users</span>
    </mat-toolbar>
<div fxLayout="row wrap" fxLayoutGap="3%" fxLayoutAlign="start start">
        <div *ngFor='let p of users' class="tp-box" fxLayout="row wrap"  fxFlex="22%" fxLayoutAlign="start start"
           >

          
                <mat-card appearance="outline">
                    <img mat-card-image src="../../../assets/img/users.png" alt="Image with a photo of clouds."
                        style="height: 135px;">
                    <mat-card-title (click)="viewDetails(p)"><mat-icon>person</mat-icon>{{p.firstName}}</mat-card-title>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle><mat-icon style="float:left;padding-top:10px">mail</mat-icon><span style="float:left;padding-top:12px;padding-left: 5px;width:80%;">{{p.emailID}}</span></mat-card-subtitle>
                    <mat-card-content>
                        <mat-icon  style="float:left;padding-top:10px">phonelink_ring</mat-icon>
                        <span
                            style="padding:10px;float:left;padding-left: 5px;">
                            {{p.mobileNo}}
                        </span></mat-card-content>
                    <!--<mat-card-subtitle>Manufacturer:{{p.manufacturer}}</mat-card-subtitle>
                <mat-card-subtitle>Quantity:{{p.quantity}}</mat-card-subtitle>  
                <mat-card-subtitle>Price:{{p.price}}</mat-card-subtitle> 
                <mat-divider></mat-divider>     
                     
                <mat-card-content>{{p.productDescription}}</mat-card-content>-->
                   

                </mat-card>
           
           
        </div>

    </div>
    </div>