  
    <div  fxLayout="row wrap" fxLayoutGap="3%" class="tp-box" fxLayout="row wrap"  fxFlex="100%" fxLayoutAlign="center center"
           style="margin: 30px">
  <mat-card appearance="outline" style="margin:30px;" fxFlex="20%" >
                    <img mat-card-image src="../../../assets/img/users.png" alt="Image with a photo of clouds."
                        style="height: 135px;">
                       
                    <mat-card-title (click)="viewDetails(p)"> <img mat-card-avatar src="../../../assets/img/murugavel.png" style="height: 50px;width:50px;" alt="Image with a photo of clouds."
                       >Murugavel</mat-card-title>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle><mat-icon style="float:left;padding-top:10px">mail</mat-icon><span style="float:left;padding-top:12px;padding-left: 5px;width:80%;"></span>murugavel.a04@wipro.com</mat-card-subtitle>
                    <mat-card-content>
                        <mat-icon  style="float:left;">phonelink_ring</mat-icon>
                        <span
                            style="padding:10px;float:left;padding-left: 5px;">
                           
                        </span>+91-8807876711</mat-card-content>
                    <!--<mat-card-subtitle>Manufacturer:{{p.manufacturer}}</mat-card-subtitle>
                <mat-card-subtitle>Quantity:{{p.quantity}}</mat-card-subtitle>  
                <mat-card-subtitle>Price:{{p.price}}</mat-card-subtitle> 
                <mat-divider></mat-divider>     
                     
                <mat-card-content>{{p.productDescription}}</mat-card-content>-->
                   

                </mat-card>
                <mat-card appearance="outline" fxFlex="20%">
                     <img mat-card-image src="../../../assets/img/users.png" alt="Image with a photo of clouds."
                        style="height: 135px;">
                       
                    <mat-card-title (click)="viewDetails(p)"><img mat-card-avatar src="../../../assets/img/soundar.jpg"   style="height: 50px;width:50px;"alt="Image with a photo of clouds."
                        >Soundar</mat-card-title>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle><mat-icon style="float:left;padding-top:10px">mail</mat-icon><span style="float:left;padding-top:12px;padding-left: 5px;width:80%;"></span>soundar.r39@wipro.com</mat-card-subtitle>
                    <mat-card-content>
                        <mat-icon  style="float:left;">phonelink_ring</mat-icon>
                        <span
                            style="padding:10px;float:left;padding-left: 5px;">
                           
                        </span>9597381635</mat-card-content>
                    <!--<mat-card-subtitle>Manufacturer:{{p.manufacturer}}</mat-card-subtitle>
                <mat-card-subtitle>Quantity:{{p.quantity}}</mat-card-subtitle>  
                <mat-card-subtitle>Price:{{p.price}}</mat-card-subtitle> 
                <mat-divider></mat-divider>     
                     
                <mat-card-content>{{p.productDescription}}</mat-card-content>-->
                   

                </mat-card>
    </div>