<div>
    <mat-toolbar fxLayoutAlign="center center">
        <span>Profile</span>
        <span fxFlex></span>
        <button mat-icon-button (click)="editProfile()">
            <mat-icon class="mat-18">edit</mat-icon>
        </button>
    </mat-toolbar>
    <div class="register" fxLayoutAlign="center center">
        <form fxLayout="row wrap" fxLayoutGap="0.5%" class="register-form" fxLayoutAlign="left"
            [formGroup]="profileForm" (ngSubmit)="updateProfile()">
            <mat-form-field fxFlex="49%" class="register-full-width" >
                <mat-label>First name</mat-label>
                <input matInput placeholder="First name" formControlName="firstName">
            </mat-form-field>
            <mat-form-field fxFlex="49%" class="register-full-width" >
                <mat-label>Last name</mat-label>
                <input matInput placeholder="Last name" formControlName="lastName">
            </mat-form-field>
            <mat-form-field fxFlex="49%" class="register-full-width" >
                <mat-label>EmailId</mat-label>
                <input matInput placeholder="EmailId" formControlName="emailID">
            </mat-form-field>
            <mat-form-field fxFlex="49%" class="register-full-width" >
                <mat-label>Mobile Number</mat-label>
                <input matInput placeholder="Mobile Number" formControlName="mobileNo">
            </mat-form-field>
            <mat-form-field fxFlex="49%" class="register-full-width" >
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" formControlName="password">
            </mat-form-field>
            <mat-form-field fxFlex="49%" class="register-full-width" >
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Confirm Password" formControlName="confirmPassword">
            </mat-form-field>
            <mat-form-field fxFlex="49%" class="register-full-width" >
                <mat-label>Location</mat-label>
                <input matInput placeholder="Location" formControlName="location">
            </mat-form-field>
            <div class="rt-btn" fxFlex="100%" fxLayoutAlign="center center">
                <button mat-raised-button type="submit">Update</button>
            </div>
            <mat-label fxFlex="100%">Last Updated:{{profile.profileUpdated | date:'medium'}}</mat-label>
            <mat-label fxFlex="100%">Last Login:{{profile.lastLogin | date: 'medium'}}</mat-label>

        </form>
    </div>

</div>